<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Benjamin Lévêque{% endblock %}</title>
        <meta name="keywords" content="Symfony2, Doctrine2, jQuery, symfony, PHP, Lyon, Elao, Développement web, MySQL"/>
        <meta name="description" content="Développeur Symfony2 et Doctrine2 Lyon" />
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/son-of-obsidian.css') }}" />
            <link rel="alternate" type="application/rss+xml" title="Blog - Benjamin Lévêque RSS" href="{{ path('blog_rss') }}"></link>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <header>
            <h1>Benjamin Lévêque</h1>
            <nav>
                <ul>
                    <li><a href="{{ path('homepage') }}">Blog</a></li>
                    <li><a href="{{ path('veille') }}">Veille</a></li>
                    <li><a href="{{ path('about') }}">À propos</a></li>
                </ul>
            </nav>
        </header>

        <div style="clear: both"></div>

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/prettify.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/lang-yaml.js') }}"></script>
            <script type="text/javascript">
                addEventListener('load', function (event) { prettyPrint() }, false);
            </script>
            <script type="text/javascript">

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-1815376-4']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

            </script>
        {% endblock %}
    </body>
</html>
