{% extends "::base.html.twig" %}

{% block body %}

    <h1>{{ post.title }}</h1>

    <div class="metas">
         <small>{{ post.publishedAt|format_date }}</small>
        {% if post.tags|length %}
            <small>
                {% for tag in post.tags %}
                    <a href="{{path('blog_tag', {slug: tag.slug}) }}">{{tag}}</a>
                {% endfor %}
            </small>
        {% endif %}
    </div>

    <div>
        {{ post.content|markdown }}
    </div>

    <div id="disqus_thread"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var disqus_shortname = 'benjaminleveque'; // required: replace example with your forum shortname
        var disqus_identifier = '{{ post.id }}';
        var disqus_url = '{{ url('blog_show', {slug: post.slug}) }}';
        var disqus_title = '{{ post.title }}';
        var disqus_developer = 1;
    </script>
    <script type="text/javascript" src="{{ asset('js/disqus.js') }}"></script>
{% endblock %}