{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="alternate" type="application/rss+xml" title="{{ tag }} - Benjamin Lévêque RSS" href="{{ path('blog_tag_rss', {slug: tag.slug}) }}"></link>
{% endblock %}

{% block body %}

    <h1>Articles pour le tag : {{ tag }}</h1>

    {% for post in pagination %}
        <h2><a href="{{ path('blog_show', {slug: post.slug}) }}">{{ post }}</a> <small>{{ post.publishedAt|localizeddate('medium', 'none') }}</small></h2>
    {% endfor %}

    <div class="navigation">
        {{ pagination.render()|raw }}
    </div>

{% endblock %}
